services:
  api:
    build:
      context: .
      dockerfile: src/EducaNet.API/Dockerfile
    ports:
      - "5000:8080"
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT:-Development}
      - ConnectionStrings__DefaultConnection=${CONNECTION_STRING}

  web:
    build:
      context: .
      dockerfile: EducaNet.Web/Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - api
